
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Set body width to 100% of viewport width */
    height: 100vh; /* Set body height to 100% of viewport height */
    margin: 0;
    background-color: #fa9c8417;
    size:10rem;
}
#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gameTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameidDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px; 
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fa9c84;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto; 
}

button {
    margin: 5px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    border-color: #ddd;
    background-color: #b30000;
    color: white;
    /* transition: background-color 0.3s ease; */
    align-items: center; 
}

button:hover {
    background-color: #b3000067;
}

button:active {
    transform: scale(0.98);
}

.player {
    border: 2px solid #f74d23; 
    margin: 20px auto; 
    border-radius: 10px; 
    background-color: #fa9c84; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
    max-width: 300px; 
    display: grid; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

p {
    font-weight: 700;
    font-size: 11.5px;
}

.action {
    background-color: #fa9c84; 
    border: 2px solid #f74d23; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
    border-radius: 10px; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    /* padding: 10px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* gap: 5px; */
    flex-direction: column;
}

#gameInput{
    display: inline-flex;
    flex-direction: row;
    column-gap: 5dvw;
    height: 50vh;
    justify-content: center;
    align-content: center;
}
h1{
    color:#fa9c84;
}
#GameUID,#player1UID, #player2UID{
    color: #b30000;
}

#player1Health,#player1Damage,#player1SE,#player1SL,
#player1IE,#player1IL,#player1Type,
#player2Health,#player2Damage,#player2SE,#player2SL,
#player2IE,#player2IL,#player2Type{
    color: white;
}