body {
    font-family: Arial, sans-serif;
    margin: 14px;
    padding: 0;
    display: flex;
    justify-content: center;
    /* padding: 1vh; */
    align-items: center;
    flex-direction: column;
    background-color: #fa9c84;
    background-size: cover; 
    font-size: 1.5rem;
}

.container {
    text-align: center;
    background-image: url('./background.jpg');
    height: 98vh;
    width: 100%;
    background-size: cover; 
}

#containerContent{
    display: inline-flex;
    flex-direction: row;
    column-gap: 5vw;
}

h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #fff82e; 
}

h3{
    color: #fff82e; /
}

.gameInputPanel{
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px; 
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fa9c8417;
    color: #fff82e;
    transition: background-color 0.3s ease;
}

#player1 h3{
    color: #000;
}


a {
    margin: 5px; 
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
p {
    color: #fff82e; /
}

select {
    padding: 10px 10px;
    font-size: 15px;
    background-color: #f8f9fa;
    color: #495057; 
    border: 1px solid #ced4da; 
    border-radius: 5px;
    cursor: pointer;
    outline: none; 
}

select option {
    font-size: 15px;
    background-color: #fff; 
    color: #495057; 
}

select option:hover {
    background-color: #007bff; 
    color: #fff; 
}

input[type="text"] {
    padding: 10px 10px;
    font-size: 15px;
    background-color: #f8f9fa; 
    color: #495057; 
    border: 1px solid #ced4da; 
    border-radius: 5px;
    outline: none; 
}

input[type="text"]:focus {
    border-color: #007bff; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.player{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    margin: 20px auto; 
    border: 2px solid #f74d23; 
    background-color: #fa9c84; 
    max-width: 300px; 
    padding: 5px;
}

.game-preview{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#player1UID{
    visibility: hidden;
}

